<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightyellow;padding:10px">
        Modeling Case Counts for Disease Covid, Dengue, Malaria and Zika
    </h1>
    
    <br>
    <br>
    <h2>Overview</h2>
    <h2><a href="chart1">(1.1) Disease Analysis - Counts over Time</a></h2>
    <h2><a href="chart2">(1.2) Disease Analysis - Geographic Visuals </a></h2>
    <h2><a href="chart3">(2) Model Prediction Visualizations</a></h2>
    <h2><a href="chart4">(3) Receive Predictions, Actionable Insights</a></h2>
    <h2><a href="chart5">(4) Appendix - On Datasets, Process Team info</a></h2>
<br>
</body>

 

</html>
