<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightyellow;padding:10px">
        Modeling Case Counts for Disease Covid, Dengue, Malaria and Zika
    </h1>
    
    <br>
    <br>
    <h2>Overview</h2>
    <h2><a href="chart1">(1.1) Disease Analysis - Counts over Time</a></h1>
    <h2><a href="chart2">(1.2) Disease Analysis - Geographic Visuals </a></h1>
    <h2>(2) Model Prediction Visualizations </h1>
    <h2>(3) Receive Predictions, Actionable Insights </h1>
    <h2>(4) Appendix - On Datasets, Process Team info </h1>
<br>
</body>

 

</html>
